extends layout

block content
  .container-fluid.container-table
    form(action='/redirect' method='post')
      button.btn.btn-primary.consultas Volver
    p.h2.titulo Movimientos de Montura #{tabla.tablas.CODIGO_MONTURA}
    table.table.table-bordered
      thead.table-head
      tr.header-tabla
        each head in tabla.keys
          th(scope='col')= head
      tbody
      tr
        each val in tabla.tablas
          tr
            td= val.CODIGO_MOV
            td= val.CODIGO_MONTURA
            td= val.TIPO_MOV
            td= val.CODIGO_VENTA
            td= val.CODIGO_COMPRA

  style.
    .btn-primary {
    color: #fff;
    background-color: #42b574;
    border-color: #42b574;
      }

      .btn-primary:hover {
          color: #fff;
          background-color: #42b574;
          border-color: #42b574;
      }

      .titulo {
          text-align: center;
      }

      .registro {
          margin-top: 15px;
      }

      body{
          background-color: #343a40;
          color: #fff;
      }

      .table {
          color: #fff;
          margin-top: 15px;
      }

      .campos {
          margin-top: 15px;
      }

      .container-table{
          margin-top: 15px;
      }

      .consultas {
          margin: 0 8px;
      }
      .header-tabla{
        background-color: #42b574;
        color: #343a40;
      }